Repository acmCSUFDev/ICON, pull requests merged in 2022-04, with the labels that each got.

#16 Add assignments import route to Swagger
  Backend/app.ts
  Backend/controllers/canvasToNotion.ts
  Backend/public/swagger.json
  Backend/routes/index.ts
Labels: enhancement

#17 Start working on banner
  Frontend/pages/_document.tsx
  Frontend/pages/components/Banner.tsx
Labels: frontend

#18 Adding tailwind.config.js and index.tsx
  Frontend/index.tsx
  Frontend/tailwind.config.js
Labels: frontend

#19 Fixing mislocated file
  Frontend/index.tsx
  Frontend/pages/index.tsx
Labels: bug

#22 Finish the pink banner
  Frontend/assets/bannerDecor.svg
  Frontend/assets/calendar.svg
  Frontend/assets/iconlogo.svg
  Frontend/assets/redDecor.svg
  Frontend/pages/components/Banner.tsx
  Frontend/pages/index.tsx
Labels: frontend

#24 Adding instruction + animation
  Frontend/assets/Frame-5.svg
  Frontend/assets/redDecor.svg
  Frontend/assets/step1.svg
  Frontend/assets/step2-1.svg
  Frontend/assets/step2-2.svg
  Frontend/assets/step2.svg
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/pages/components/Banner.tsx
  Frontend/pages/components/Instruction.tsx
  Frontend/pages/index.tsx
Labels: frontend

#26 Adding form for submitting user data
  Frontend/assets/Frame-5.svg
  Frontend/assets/backCircle.svg
  Frontend/assets/frontCircle.svg
  Frontend/assets/question.svg
  Frontend/pages/components/Banner.tsx
  Frontend/pages/components/Form.tsx
  Frontend/pages/components/InputField.tsx
  Frontend/pages/components/Instruction.tsx
  Frontend/pages/index.tsx
  Frontend/tailwind.config.js
Labels: frontend

#27 Adding Notion Login
  Frontend/assets/notion.svg
  Frontend/pages/components/Form.tsx
  Frontend/pages/components/NotionAuth.tsx
Labels: frontend
